<!--
  @author : Samuel Des Cormiers
  @date : 2024-09-25
  @description : Page main de l'application
  @version : 1.0
-->
<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1 ><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
