<!--
@@@@@ ATTENETION @@@@@
Il y a bootsrap 5 dans le fichier index.ejs
@@@@@ ATTENETION @@@@@
  @author : Samuel Des Cormiers
  @date : 2024-09-25
  @description : Page main de l'application
  @version : 1.0
-->
<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1 ><%= title %></h1>
    <%- include('partials/liste.ejs') %>
    <%- include('partials/add.ejs') %>
    
    <%- include('partials/footer.ejs') %>
  </body>
</html>
