<!--
  @author : Samuel Des Cormiers
  @date : 2024-09-25
  @description : Page main de l'application
  @version : 1.0
-->
<!DOCTYPE html>
<html lang="fr-FR">
<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <%- include('partials/navbar.ejs') %>
  <h1>
    <%= title %>
  </h1>
  <%- include('partials/liste.ejs') %>
  <%- include('partials/add.ejs') %>
  <%- include('partials/remove.ejs') %>
  <%- include('partials/footer.ejs') %>
  <script>
      var socket = io.connect('http://localhost:3000');
      $('form').submit(function () {
        switch ($(this).attr('id')) {
        case 'add':
          socket.emit('add', {
            name: $('input[name=name]').val(),
            price: $('input[name=price]').val()
          });
          socket.broadcast.emit('add', {
            name: $('input[name=name]').val(),
            price: $('input[name=price]').val()
          });
          break;
        case 'removebyid':
          socket.emit('removebyid', {
            id: $('input[name=id]').val()
          });
          socket.broadcast.emit('removebyid', {
            id: $('input[name=id]').val()
          });
          break;
        case 'removebyname':
          socket.emit('removebyname', {
            name: $('input[name=namer]').val()
          });
          socket.broadcast.emit('removebyname', {
            name: $('input[name=namer]').val()
          });
          break;
        }
        return false;
      });
      socket.on('itemsChanged', function (data) {
        $('table tbody').html(data);
      });
  </script>
</body>
</html>